body { margin:0; }

.navbar-background{
    background-color: rgb(61, 61, 61);
    display: block;
    width: 800px;
    height: 100px;
    border: none;
    border-bottom-right-radius: 6px;
}
.pospeach{
    top: 0;
    left: 50;
    position: fixed;
    width: 342px;
    height: 20px;
}